.heading{
    color: red;
}
.loginMaindiv{
    background-image: url("https://t3.ftcdn.net/jpg/03/03/63/38/240_F_303633868_4A2UUVs9EaY3xBsouesazwTt8TI5SPJM.jpg");
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}